.hero {
    height: 90vh;
    background: linear-gradient(to right, #198754, #20c997);
}

.card {
    border-radius: 10px;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}